.animal-details {
    background-color: ghostwhite;
    color: black;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.animal-details h1 {
    margin-top: 10px;
    margin-bottom: 0;
}
.animal-details img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
}
.animal-details p {
    margin: 10px 0;
}
.special-link {
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.special-link:hover {
    text-decoration: underline;
}