:root {
    --border-width: 3px;
    --navbar-height: 90px;
}

html, body {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--border-width) );
    height: var(--navbar-height);
    margin: 0;
    background: linear-gradient(178deg, rgba(255, 255, 255, 1) 42%, rgba(237, 237, 237, 1) 100%);
    border: solid var(--border-width) lightgray;
    border-top-style: none;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: var(--navbar-height);
    margin-left: 20px;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.home-button {
    display: block;
    border: 5px solid #007BFF;
    border-radius: 12px;
    background: rgba(237, 237, 237, 0.85);
    margin-top: 11px !important;
}

.navbar ul li .home-button .cat-icon {
    width: 60px;
    height: 60px;
    background-color: #007BFF;
    mask-image: url('../img/cat.svg');
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
}

.navbar ul li .cart-button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #007BFF;
    mask-image: url('../img/cart.svg');
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
}

.navbar .sign-in {
    margin-right: 20px;
}

.special-link, .navbar ul li a, .sign-in {
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
.special-link:hover {
    text-decoration: underline;
}

.petlist {
    width: 80%;
}

.contact-header {
    background-color: rgba(255,255,255,.85);
    border-radius: 12px;
}

.contact-wrapper {
    background-color: rgba(255,255,255,.85);
    border-radius: 12px;
}

.contact-wrapper form {
    margin: 0 auto;
    width: min-content;
}