:root {
    --border-width: 3px;
    --navbar-height: 90px;
}

html, body {
    margin: 0;
}

.navbar {
    width: calc( 100% - ( var(--border-width) *2 ) );
    height:var(--navbar-height);
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(178deg, rgba(255,255,255,1) 42%, rgba(237,237,237,1) 100%); 
    border: solid var(--border-width) lightgray;
    border-top-style: none;
    border-radius: 0 0 10px 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
    line-height: var(--navbar-height);
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}